{% extends 'base.html' %}

{% block title %}Ranking de Participantes{% endblock %}

{% block content %}

    <div class="row">
        <h1 class="text-center">Ranking de Participantes</h1>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Resolvidos (hoje)</th>
            <th>Tentados</th>
            <th>Submissões</th>
        </tr>
        </thead>
        <tbody>
        {% for participante in participantes %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ participante.nome }}</td>
                <td>
                    {{ participante.ultima_pontuacao.pontos }}
                    {% if participante.pontos_do_dia %}
                        (<strong class="green"><small>+ {{ participante.pontos_do_dia  }}</small></strong>)
                    {% endif %}
                </td>
                <td>{{ participante.ultima_pontuacao.tentados }}</td>
                <td>{{ participante.ultima_pontuacao.submissoes }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5" class="text-center">
                Atualizado {{ ultima_atualizacao.instant|timesince }} atrás.
            </td>
        </tr>
        </tfoot>
    </table>

{% endblock %}
